<%- include('header'); -%>

<!-- Template for /account route -->

<% if (user) { %>
  <form class="form-inline" id="nameForm">
    <label for="name">Name:</label>
    <input type="input" class="form-control" id="name" value="<%= user.name %>">
    <button type="submit" class="btn btn-primary" id="nameSubmit">Change</button>
  </form>
  <h4>Connected Identities</h4>
  <table class="table"><tbody>
  <% config.providers.forEach(provider => { %>
    <tr>
      <td style="text-align: center;">
      <% if (provider.image) { %>
        <img src="<%= provider.image %>" height="18px" />
      <% } %>
      </td>
      <td>
        <b><%= provider.name %></b>
      </td>
      <td style="word-break: break-word;">
      <% if (user.identities && user.identities[provider.id]) { %>
        <%= user.identities[provider.id].id %> %>
        <small>
          <br>
          <!-- <a data-toggle="collapse" href="#showMore-<%= provider.id %>">▼</a> -->
          <!-- <div class="collapse" id="showMore-<%= provider.id %>"> -->
          <% if (user.identities[provider.id].username) { %>
            <b>Username:</b> <%= user.identities[provider.id].username %><br>
          <% } %>
          <% if (user.identities[provider.id].name) { %>
            <b>Name:</b> <%= user.identities[provider.id].name %><br>
          <% } %>
          <% if (user.identities[provider.id].uri) { %>
            <b>URI:</b> <a href="<%= user.identities[provider.id].uri %>" target="_blank"><%= user.identities[provider.id].uri %></a><br>
          <% } %>
          <!-- </div> -->
        </small>
      <% } %>
      </td>
      <td class="text-right">
      <% if (user.identities && user.identities[provider.id]) { %>
        <% if (Object.keys(user.identities).length > 1) { %>
        <a class="btn btn-outline-danger" href="<%= baseUrl %>/disconnect/<%= provider.id %>">Disconnect</a>
        <% } %>
      <% } else { %>
        <a class="btn btn-outline-primary" href="<%= baseUrl %>/login/<%= provider.id %>">Connect</a>
      <% } %>
      </td>
    </tr>
  <% }) %>
  </tbody></table>
  <form method="get" action="<%= baseUrl %>/delete" style="width: 100%; text-align: center;">
    <button type="submit" class="btn btn-danger">Delete User Account</button>
  </form>
  <script>
  let nameForm = document.getElementById("nameForm")
  let nameElement = document.getElementById("name")
  let nameSubmit = document.getElementById("nameSubmit")
  nameElement.oninput = () => {
    nameSubmit.disabled = nameElement.value == ""
  }
  nameForm.onsubmit = (event) => {
    let body = { name: nameElement.value }
    event.preventDefault()
    fetch("<%= user.uri %>", {
      headers: {
        "Content-Type": "application/json"
      },
      credentials: "include",
      method: "PATCH",
      body: JSON.stringify(body)
    }).then(response => {
      if (response.status == 200) {
        return true
      }
      return false
    }).catch(error => {
      return false
    }).then(success => {
      if (success) {
        location.reload()
      } else {
        alert("Error: Name could not be saved.")
      }
    })
  }
  </script>
<% }%>

<%- include('footer'); -%>
