<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <% if (redirect) { %>
      <meta http-equiv="refresh" content="<%= redirect.delay %>; url=<%= redirect.url %>">
      <% } %>
    <title><%= config.title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap.native@2.0.25/dist/bootstrap-native-v4.min.js"></script> -->
</head>
<body>
<style>
.mainCard {
  width: 550px;
  margin: 50px auto 0px auto;
}
h4 {
  margin-bottom: 20px;
}
.form-inline {
  margin-bottom: 10px;
}
.form-inline > * {
  margin: 0 10px 0 0;
}
h3 > a {
  color: black;
}
h3 > a:hover {
  text-decoration: none;
  color: grey;
}
</style>
<div class="container">
  <div class="card mainCard">
    <div class="card-header">
      <nav class="navbar navbar-expand navbar-light bg-light p-0">
        <a class="navbar-brand" href="<%= baseUrl %>"><%= config.title %></a>
        <div class="navbar-nav mr-auto">
          <% if (user) { %>
            <a class="nav-link <% if (path.includes("/account")) { %>active<% } %>" href="<%= baseUrl %>account">
              Account
              <% if (path.includes("/account")) { %><span class="sr-only">(current)</span><% } %>
            </a>
          <% } else { %>
            <a class="nav-link <% if (path.includes("/login")) { %>active<% } %>" href="<%= baseUrl %>login">
              Login
              <% if (path.includes("/login")) { %><span class="sr-only">(current)</span><% } %>
            </a>
          <% } %>
          <a class="nav-link <% if (path.includes("/sessions")) { %>active<% } %>" href="<%= baseUrl %>sessions">
            Sessions
            <% if (path.includes("/sessions")) { %><span class="sr-only">(current)</span><% } %>
          </a>
          <a class="nav-link <% if (path.includes("/help")) { %>active<% } %>" href="<%= baseUrl %>help">
            About
            <% if (path.includes("/help")) { %><span class="sr-only">(current)</span><% } %>
          </a>
        </div>
        <form class="form-inline">
          <% if (user) { %>
            <a href="<%= baseUrl %>logout" class="btn btn-danger btn-sm mt-2 mr-0">Logout</a>
          <% } %>
        </form>
      </nav>
    </div>
    <div class="card-body">
      <!-- Show info messages -->
      <% Object.keys(messages).forEach(type => { %>
        <% messages[type].forEach(message => { %>
          <div class="alert alert-<%= type %>">
            <%= message %>
          </div>
        <% }) %>
      <% }) %>
