<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= config.title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap.native@2.0.25/dist/bootstrap-native-v4.min.js"></script> -->
</head>
<body>
<style>
.mainCard {
  width: 550px;
  margin: 50px auto 0px auto;
}
h4 {
  margin-bottom: 20px;
}
.footer {
  display: flex;
}
.footer > div {
  flex: 1;
  text-align: center;
}
.form-inline {
  margin-bottom: 10px;
}
.form-inline > * {
  margin: 0 10px 0 0;
}
h3 > a {
  color: black;
}
h3 > a:hover {
  text-decoration: none;
  color: grey;
}
</style>
<div class="container">
  <div class="card mainCard">
    <div class="card-header" style="display: flex;">
      <div style="flex: 1;">
        <h3><a href="<%= baseUrl %>/"><%= config.title %></a></h3>
      </div>
      <div style="flex: 1; text-align: right;">
        <% if (user) { %>
          Logged in as <a href="<%= baseUrl %>/account"><%= user.name %></a><br>
          <a href="<%= baseUrl %>/logout">Logout</a>
        <% } else if (showLoginButton) { %>
          <a href="<%= baseUrl %>/login">Login</a>
        <% } %>
      </div>
    </div>
    <div class="card-body">
      <!-- Show info messages -->
      <% Object.keys(messages).forEach(type => { %>
        <% messages[type].forEach(message => { %>
          <div class="alert alert-<%= type %>">
            <%= message %>
          </div>
        <% }) %>
      <% }) %>
