<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= config.title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<style>
h4 {
  margin-bottom: 20px;
}
.footer {
  display: flex;
}
.footer > div {
  flex: 1;
  text-align: center;
}
.form-inline {
  margin-bottom: 10px;
}
.form-inline > * {
  margin: 0 10px 0 0;
}
h3 > a {
  color: black;
}
h3 > a:hover {
  text-decoration: none;
  color: grey;
}
</style>
<div class="container">
  <div class="card" style="width: 550px; margin: 50px auto 0px auto;">
    <div class="card-header" style="display: flex;">
      <div style="flex: 1;">
        <h3><a href="<%= baseUrl %>/"><%= config.title %></a></h3>
      </div>
      <div style="flex: 1; text-align: right;">
        <% if (user) { %>
          Logged in as <%= user.name %><br>
          <a href="<%= user.uri %>" target="_blank">My Data</a> • <a href="<%= baseUrl %>/logout">Logout</a>
        <% } %>
      </div>
    </div>
    <div class="card-body">
      <!-- Show info messages -->
      <% Object.keys(messages).forEach(type => { %>
        <% messages[type].forEach(message => { %>
          <div class="alert alert-<%= type %>">
            <%= message %>
          </div>
        <% }) %>
      <% }) %>
