<%- include('header'); -%>

<!-- Template for /login route -->

<p>
  By using this service, you agree that authentificated usernames and identifiers can be made available (see <a href="<%= baseUrl %>help">more information</a>).
</p>

<% config.providers.forEach(provider => { %>
<p>
  <a class="btn btn-light btn-block" href="<%= baseUrl %>login/<%= provider.id %>">
    <% if (provider.image) { %>
    <img src="<%= provider.image %>" height="20px" style="margin-right: 5px;" />
    <% } %>
    Login via <%= provider.name %>
  </a>
</p>
<% }) %>

<p>
  If necessary, a new user account will be created on first login.
</p>

<%- include('footer'); -%>
