<%- include('header'); -%>

<!-- Template for /login route -->

<p>
  By using this service, you agree that your data will be publicly available. For more information, click <a href="<%= baseUrl %>/">here</a>.
</p>

<% config.providers.forEach(provider => { %>
<a class="btn btn-light btn-block" href="<%= baseUrl %>/login/<%= provider.id %>">
  <% if (provider.image) { %>
  <img src="<%= provider.image %>" height="20px" style="margin-right: 5px;" />
  <% } %>
  Login via <%= provider.name %>
</a>
<% }) %>

<%- include('footer'); -%>
