<%- include('header'); -%>

<!-- Template for /sessions route -->

<p>Reload the page to update session information!</p>

<h3>Active Sessions</h3>

<% if (sessions.length) { %>
<p>There are <%= sessions.length %> active sessions including the current one.</p>

<table class="table">
  <tbody>
  <% sessions.forEach(session => { %>
    <tr>
      <td>
        <%= session._id %>
        <% if (session.session.referrer) { %>
          <br><small>
            <a href="<%= session.session.referrer %>" target="_blank">
              <%= session.session.name %>
            </a>
          </small>
        <% } %>
      </td>
      <td class="text-right">
        <% if (session._id == sessionID) { %>
          Current Session<br><a href="<%= baseUrl %>logout" class="btn btn-outline-danger btn-sm mt-2 mr-0">Log out</a>
        <% } else { %>
          <button class="btn btn-sm btn-outline-danger" onclick="removeSession('<%= session._id %>')">Remove</button>
        <% } %>
      </td>
    </tr>
  <% }) %>
  </tbody>
</table>

<p>
  <button class="btn btn-danger" onclick="removeSession()">Remove all other sessions</button>
</p>

<h3>Active WebSockets</h3>
<p>WebSocket connections are used by clients to communicate with the login server. To deauthorize a WebSocket connection, you need to remove the associated session.</p>

<table class="table small">
  <thead>
    <tr>
      <th>WebSocket ID</th>
      <th>Associated Session ID</th>
    </tr>
  </thead>
  <tbody>
  <% websockets.forEach(socket => { %>
    <tr>
      <td><%= socket.id %></td>
      <td><%= socket.sessionID %></td>
    </tr>
  <% }) %>
  </tbody>
</table>
<% } else { %>
<p>
  There are no active sessions. Please log in to see your sessions.
</p>
<% } %>

<script>
  function removeSession(sessionID) {
    let url = "<%= baseUrl %>sessions"
    if (sessionID) {
      url += `/${sessionID}`
    }
    fetch(url, {
      credentials: "include",
      method: "DELETE"
    }).then(response => {
      if (response.status == 204) {
        return true
      }
      return false
    }).catch(error => {
      return false
    }).then(success => {
      if (success) {
        location.reload()
      } else {
        alert("Error: Session could not be removed.")
      }
    })
  }
</script>

<%- include('footer'); -%>
